<h1>{{ project_title }} - <small>{{ timestamp }}</small></h1>
<small>{{ submissionID }}</small>
<hr>

<p>
  <b>Name: </b> {{ artistName }}
</p>

<p>
  <b>Stream: </b> {{ stream }}
</p>
<p>
  <b>Phone: </b> {{ phone }}
</p>
<p>
  <b>Email: </b> {{ email }}
</p>
<p>
  <b>CV: </b><a href="https://s3-eu-west-1.amazonaws.com/tilde-submissions/eoi/{{ cv_filename }}">Link</a>
</p>
<p>
  <b>Interest: </b> {{ interest }}
</p>
<p>
  <b>Bio: </b>
</p>
<pre>
  {{ bio }}
</pre>

<hr>
<h3>(Performance)</h3>
<p>
  <b>Instrument: </b> {{ instrument }}
</p>
<p>
  <b>Repertoire: </b>
</p>
<pre>
  {{ repertoire }}
</pre>
<hr>
<h3>(Composition)</h3>
<p>
  <b>Links: </b>
</p>
<pre>
  {{ links }}
</pre>
<p>
  <b>Special Projects: </b> {{ specialprojects }}
</p>
