<h1>{{ artistName }} - <small>{{ timestamp }}</small></h1>
<small>{{ submissionID }}</small>
<hr>

<h5>Discipline</h5>
<p>
  {{ discipline }}
</p>

<p>
  <b>Phone: </b> {{ phone }}
</p>
<p>
  <b>Email: </b> {{ email }}
</p>

<p>
  <b>Bio: </b>
</p>
<pre>
  {{ bio }}
</pre>
