<h1>{{ artistName }} - <small>{{ timestamp }}</small></h1>
<small>{{ submissionID }}</small>
<hr>

<h2>Discipline</h2>
<p>
  {{ discipline }}
</p>

<p>
  <b>Phone: </b> {{ phone }}
</p>
<p>
  <b>Email: </b> {{ email }}
</p>

<h2>Bio: </h2>
<pre>
  {{ bio }}
</pre>
