<h1>{{ project_title }} - <small>{{ timestamp }}</small></h1>
<small>{{ submissionID }}</small>
<hr>

<h2>Description:</h2>
<pre>
  {{ short_description }}
</pre>
<p>
  <b>Audio File: </b><a href="https://s3-eu-west-1.amazonaws.com/tilde-submissions/eoi/{{ cv_filename }}">Link</a>
</p>

<hr>

<h2>Artist Details</h2>

<p>
  <b>Name: </b> {{ artistName }}
</p>
<p>
  <b>Email: </b> {{ email }}
</p>
<p>
  <b>Bio: </b>
</p>
<pre>
  {{ bio }}
</pre>
