<h1>{{ project_title }} - <small>{{ timestamp }}</small></h1>
<small>{{ submissionID }}</small>
<hr>

<h3>Kevan - TODO: Academy and Fixed Media pages</h3>

<h2>Short Description:</h2>
<pre>
  {{ short_description }}
</pre>

<h2>Long Description:</h2>
<pre>
  {{ long_description }}
</pre>

<h2>Technical Requirements:</h2>
<pre>
  {{ technical_requirements }}
</pre>

<hr>

<h2>Artist Details</h2>

<p>
  <b>Name: </b> {{ artistName }}
</p>
<p>
  <b>Phone: </b> {{ phone }}
</p>
<p>
  <b>Email: </b> {{ email }}
</p>
<p>
  <b>CV: </b><a href="https://s3-eu-west-1.amazonaws.com/tilde-submissions/eoi/{{ cv_filename }}">Link</a>
</p>
<p>
  <b>Bio: </b>
</p>
<pre>
  {{ bio }}
</pre>
