<h1>{{ project_title }} - <small>{{ timestamp }}</small></h1>
<small>{{ submissionID }}</small>
<hr>

<h2>Short Description:</h2>
<pre>
  {{ short_description }}
</pre>

<h2>Long Description:</h2>
<pre>
  {{ long_description }}
</pre>

<h2>Technical Requirements:</h2>
<pre>
  {{ technical_requirements }}
</pre>

<h2>Focus Areas</h2>
<p>
  {{ focus_areas }}
</p>

<h2>Funding</h2>
<p>
  {{ funding }}
</p>

<h2>Discipline</h2>
<p>
  {{ discipline }}
</p>

<h2>Instrumentation</h2>
<p>
  {{ instrumentation }}
</p>

<hr>

<h2>Artist Details</h2>

<p>
  <b>Name: </b> {{ artistName }}
</p>
<p>
  <b>Phone: </b> {{ phone }}
</p>
<p>
  <b>Email: </b> {{ email }}
</p>
<p>
  <b>CV: </b><a href="https://s3-eu-west-1.amazonaws.com/tilde-submissions/eoi/{{ cv_filename }}">Link</a>
</p>
<h2>Bio: </h2>
<pre>
  {{ bio }}
</pre>
